* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}

.container {
  width: 900px;
  padding-top: 80px;
  padding-bottom: 70px;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  color: #626262;
}

nav {
  text-align: center;
  margin-bottom: 105px;
}

.nav-item {
  display: inline-block;
  margin-right: 100px;
}

.nav-item:last-child {
  margin-right: 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  padding: 10px;
}

a:hover {
  color: #8ccef8;
}

.section {
  display: inline-block;
  width: 47%;
  margin-bottom: 140px;
}

.section:nth-child(odd) {
  margin-right: -4px;
}

.section:nth-child(even) {
  margin-left: 6%;
}

.section:nth-last-of-type(-n+2) {
  margin-bottom: 0;
}

.section-image {
  height: 280px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 35px;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 12px;
}

h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

p {
  font-size: 14px;
}

button {
  display: block;
  margin: 55px auto 0;
  height: 60px;
  width: 160px;
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  color: #626262;
  background: transparent;
}
